[Desktop Entry]
Categories=Utility;
Comment=A helper utility to upload torrents to Gaytor.rent
Exec=guu-cpp
Icon=guu
Name=GayTor.rent Upload Utility
StartupNotify=true
Terminal=false
Type=Application
